#the_note {font-size: 20px;} 
#learnMore {opacity: 0.4;}
#copy-link {margin-left: 10px;}
.cloudback {background-color: azure;}
body {background-color: pink;}


.tahogren {
    font-family: "Tahoma";
    color: green; }
#iDisappear {
    font-family: "Outfit";
    font-size: large;}

#coolTitle {
    background: linear-gradient(to right, red , orange, aqua , blue , pink);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Tahoma;
}
.copy_right_footer {
    position: fixed;
    color: azure;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #203026;
    line-height: 2;
    text-align:center;
    text-shadow: 1px 1px 1px rgb(118, 117, 117);
}